# Comparsion between a Normal code vs Golfed code

## Using Loops

In [4]:
m = n = 3
for i in range(m):
    for j in range(n):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [2]:
m = n = 3
for i in range(m*n):
    print(i//n, i%n)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [3]:
m, n, o = 2, 3, 4
for k in range(m*n*o):
    print(k//n//o, k%(n*o), k%o)

0 0 0
0 1 1
0 2 2
0 3 3
0 4 0
0 5 1
0 6 2
0 7 3
0 8 0
0 9 1
0 10 2
0 11 3
1 0 0
1 1 1
1 2 2
1 3 3
1 4 0
1 5 1
1 6 2
1 7 3
1 8 0
1 9 1
1 10 2
1 11 3

## Using Operators

Membership in Set: We write set in Python as S = {1, 2, 3, 4, 5}. To check whether an element e exists in Set S or not we can check the condition as {e}&S

In [5]:
S = {1, 2, 3, 4, 5, 6, 7}
if 5 in S:
    print("Present")
else:
    print("Absent")

Present

In [6]:
S = {1, 2, 3, 4, 5, 6, 7}
if {5}&S:
    print("Present")
else:
    print("Absent")

Present

Sibling of AND operator: When we have two boolean or integer values, a and b, if we want to find out if both a and b are true, use * instead of and.

In [8]:
a=10
b=10

In [9]:
if a and b:
    print("geeks")
else:
    print("geeksforgeeks")

geeks

In [10]:
if a*b:
    print("geeks")
else:
    print("geeksforgeeks")

geeks

Sibling of OR operator: When we have two boolean or integer values, a and b, if we want to find out if any one from a and b is true or both, use | instead of or.

In [11]:
if a or b:
    print("geeks")
else:
    print("geeksforgeeks")

geeks

In [12]:
if a|b:
    print("geeks")
else:
    print("geeksforgeeks")

geeks

Use += instead of append: Instead of using append for adding one item to an existing list, we can use += operator.

In [14]:
A = [1,2,3,4]
B = [5,6]

In [15]:
A.append(B)

In [16]:
A+=B,

Use += instead of extend: Instead of using extend for merging one list into another at the end, we can use += operator.

In [17]:
A = [1,2,3,4]
B = [5,6]

In [18]:
A.extend(B)

In [19]:
A += B

Magical Comparison Operators: We face many situations in which we have to compare a single variable with different values, and generally we defend them by different comparisons and combining them with AND operator. But Python allows us to put all comparison operators in a single line without using the AND operator.

In [20]:
if a>1 and a<10:
    print(a)

In [21]:
if 1<a<10:
    print(a)

In [22]:
if a > 10 and b > 10 and 30 > a and 50 > b:
    print(a)

In [23]:
if 30 > a > 10 < b < 50:
    print(a)

## Using Functions

Sibling of Floor function: Suppose we want to find the floor value of a real number, we generally import floor function from math and then apply on the number. But we can simply apply the floor division with 1, which will give us a fruitful result.

In [24]:
from math import floor
n = 3/2
print(floor(n))

1

In [25]:
n = 3/2
print(n//1)

1.0

Sibling of Ceil function: Suppose we want to find the ceil value of a real number, we generally import ceil function from math and then apply on the number. But we can do this operation in a more beautiful manner by first multiplying with -1 and then apply floor division with 1 and again multiply with -1.

In [26]:
from math import ceil
n = 3/2
print(ceil(n))

2

In [27]:
n = 3/2
print(-(-n//1))

2.0

Lambda functions: Lambda definition does not include a “return” statement, it always contains an expression which is returned. We can also put a lambda definition anywhere a function is expected, and we don’t have to assign it to a variable at all. This is the simplicity of lambda functions.

In [28]:
def c(a):
  if a < 3: return a-5
  else: return a+5

In [29]:
c=lambda a:a<3 and a-5 or a+5

To get the entire alphabet string: We can use the map function of python to get the string of whole alphabet set.

In [30]:
string = 'abcdefghijklmnopqrstuvwxyz'
# or 
string = [chr(i+97)for i in range(26)]

In [31]:
string = map(chr,range(97,123))

## Using Indexing

Indexing Technique for conditions: When we have a certain condition which will give the answer in the form of small integers then we can use that in integer index in list or tuple to get our final answer.

In [33]:
def foo():
    if a<b:return a
    else:return b

In [34]:
def bar():
    return (b, a)[a<b]

Reverse the Sequence: We can reverse any list sequence using the good alien smiley face

In [35]:
string = 'geeksforgeeks'
for i in range(len(string)-1,-1,-1):
    print(string[i])

s
k
e
e
g
r
o
f
s
k
e
e
g

In [36]:
string = 'geeksforgeeks'
for i in string[::-1]:
    print(i)

s
k
e
e
g
r
o
f
s
k
e
e
g

Use ~ to index from the back of a list: If L is a list, use L[~i] to get the i’th element from the back. This is the i’th element of the reverse of L. The bit complement ~i equals -i-1, and so fixes the off-by-one error from L[-i].

In [37]:
string = 'geeksforgeeks'
for i in range(len(string)-1,-1,-1):
    print(string[i])

s
k
e
e
g
r
o
f
s
k
e
e
g

In [38]:
for i in range(len(string)):
    print(string[~i])

s
k
e
e
g
r
o
f
s
k
e
e
g

Print the items of the list: We can print the items of a list by using the * operator with the name of the list instead of looping through the list.

In [39]:
A = [1,2,3,4,5,6,7]
for i in A:
    print(i,end = ' ')

1 2 3 4 5 6 7

In [40]:
A = [1,2,3,4,5,6,7]
print(*A)

1 2 3 4 5 6 7

## Using Assignment

Assigning the same values to multiple variables: We can assign the same value to multiple variables either in a single line or multiple lines.

In [41]:
# multiple lines
a = 0
b = 0
c = 0

# single line
a,b,c = 0,0,0

In [42]:
a = b = c = 0

Assigning same or different characters to variable: We can assign the same of different characters to multiple variables either in a single line or multiple lines.

In [43]:
# multiple lines
a = 'p'
b = 'q'
c = 'r'

# single line
a,b,c = 'p','q','r'

In [44]:
a,b,c = 'pqr'

## Using Conversion

Converting iterables into the list: Imagine you have any ordered iterable like a tuple or string but you want to convert it into a list, so you can do this with * operator.

In [45]:
a = (2,3,5,7,11)
x = list(a)

a = 'geeksforgeek'
x = list(a)

In [46]:
a = (2,3,5,7,11)
*x, = a

a = 'geeksforgeeks'
*x, = a

Converting iterables into the Set: Imagine you have any iterable like a list, tuple or string but you want to convert it into a Set, so you can do this with * operator.

In [47]:
a = (2,3,5,7,11)
x = set(a)

a = [2,3,5,7,11]
x = set(a)

a = 'geeksforgeeks'
x = set(a)

In [48]:
a = (2,3,5,7,11)
x = {*a}

a = [2,3,5,7,11]
x = {*a}

a = 'geeksforgeeks'
x = {*a}

Converting iterables into the Tuple: Imagine you have any iterable like a list, set, or string but you want to convert it into a Tuple, so you can do this with * operator.

In [49]:
a = (2,3,5,7,11)
x = tuple(a)

a = [2,3,5,7,11]
x = tuple(a)

a = 'geeksforgeeks'
x = tuple(a)

In [50]:
a = (2,3,5,7,11)
x = (*a,)

a = [2,3,5,7,11]
x = (*a,)

a = 'geeksforgeeks'
x = (*a,)

## During joining of different iterables

Joining multiple Lists: We can join the multiple lists using + operator, but for code golfing we can do the same using * operator.

In [51]:
T = [2,3,4,5,6,7,8,9]
new_T = [1]+T+[10]

In [52]:
T = [2,3,4,5,6,7,8,9]
new_T = [1,*T,10]

Joining multiple Lists: We can join the multiple lists using + operator, but for code golfing we can do the same using * operator.

In [53]:
T = (2,3,4,5,6,7,8,9)
new_T = (1,)+T+(10,)

In [54]:
T = (2,3,4,5,6,7,8,9)
new_T = (1,*T,10)