# Some Python One-liners

Swap two variables

In [6]:
a=5
b=6
a,b=b,a
print(a,b)

6 5

List comprehension

In [7]:
# squares=[]
# for i in range(10):
#     if i%2 ==0:
#         squares.append(i*i)
# print(squares)

squares = [i*i for i in range(10) if i%2 ==0]
print(squares)

[0, 4, 16, 36, 64]

Ternary Operator

In [8]:
# if 3>2:
#     print(42)
# else:
#     print(99)

var = 42 if 3>2 else 99
print(var)

42

Print without new lines

In [13]:
data = [0,1,2,3,4,5]
# print(data)
# for i in data:
#     print(i, end=" ")
# print("done")

print(*data)
print("done")

0 1 2 3 4 5
done

Days left in a year

In [15]:
import datetime;print((datetime.date(2023,12,31)-datetime.date.today()).days)

138

Reversing a list

In [17]:
a=[1,2,3,4,5]
a=a[::-1]
print(a)

a="level"
a=a[::-1]
print(a)

[5, 4, 3, 2, 1]
level

In [31]:
reversed_string = "Hello, World!"[::-1]
reversed_string

'!dlroW ,olleH'

Multiple variable assignments

In [18]:
name,age,language = "Bamba",24,"Python"
print(name,age,language)

Bamba 24 Python

Convert space-separated Numbers in String to Integers list

In [20]:
a = "1 2 3 4 5 6"
myList = list(map(int, a.split()))
print(myList)

[1, 2, 3, 4, 5, 6]

Reading file into list

In [21]:
names = [line.strip() for line in open("./names.txt","r")]
print(names)

['Bob', 'John', 'Multiprocessing', 'Trigonometry', 'Alice']

You can also launch a HTTP server in python:
- Just create an index.html file
- From the same directory run the command:

```cmd
python -m http.server
```

Then go to:
```
http://localhost:8000/
```

Sum of Numbers

In [25]:
total_sum = sum([1, 2, 3, 4, 5])
total_sum

15

Check if elements in a list are even

In [26]:
all_even = all(x % 2 == 0 for x in [2, 4, 6, 8, 10])
all_even

True

Maximum value in a list

In [27]:
max_value = max([9, 4, 12, 7, 2])
max_value

12

Square each number

In [29]:
squared_numbers = [x ** 2 for x in [1, 2, 3, 4, 5]]
squared_numbers

[1, 4, 9, 16, 25]

Occurences of each element in a list

In [30]:
my_list = [1,2,2,3,4,4,5,7,5]
element_counts = {x: my_list.count(x) for x in my_list}
element_counts

{1: 1, 2: 2, 3: 1, 4: 2, 5: 2, 7: 1}

Factorial

In [33]:
factorial = lambda n: 1 if n == 0 else n * factorial(n - 1)
factorial(3)

6

Find common elements between two lists

In [34]:
common_elements = list(set([1, 2, 3]) & set([2, 3, 4]))
common_elements

[2, 3]

Generate list of prime numbers using list comprehension

In [35]:
is_prime = lambda n: all(n % i != 0 for i in range(2, int(n ** 0.5) + 1))
prime_numbers = [x for x in range(2, 101) if is_prime(x)]
prime_numbers

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

Concatenate two lists

In [36]:
combined_list = [1, 2, 3] + [4, 5, 6]
combined_list

[1, 2, 3, 4, 5, 6]

Extracting data from tuple

In [1]:
t=(1,'a',True)
a,b,c = t
print(a,b,c)

1 a True

Concatenate two dictionaries

In [1]:
dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}

new_dict = {**dict1, **dict2}
new_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}